<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>About Me | Personal Portfolio</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section class="welcome">
    <h1>Ticiano Bruno Biasoto Ferreira</h1>
    <p>I am a Software Engineering student. Not much else happening 
      professionaly right now. If you wanna change that, contact me :)</p>
    <a href="/download">Download Resume</a><br>
    <a href="/about"><button>Learn More</button></a>
  </section>
</body>
</html>
