<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Home | Personal Portfolio</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <section class="welcome">
    <h1>Contact Information</h1>
    <p>email: tbrunobf@gmail.com / tbiasoto@my.centennialcollege.ca</p>
    <p>phone: (647)906-4928</p>
    <a href="/about"><button>Learn More</button></a>
  </section>
</body>
</html>
